@{
}
<div class="container">

    <div class="jumbotron">
        <img src="https://static.wixstatic.com/media/77fc33_70493b9d691b4c2cc89e0e56aeb30f8e.jpg/v1/fill/w_954,h_192,al_c,q_80,usm_0.66_1.00_0.01/77fc33_70493b9d691b4c2cc89e0e56aeb30f8e.webp"/>
        <h1>The Border Mexican Restaurant</h1>
        <br/>
        <p>
            Lined with lively Mexican tiles, The Border's alluring front door welcomes patrons to a spacious, two-story dining fortress filled with the aroma of authentic Mexican cuisine and enough spectral colors to build several dozen rainbows. Diners seated at a table, in a brightly painted booth, or underneath one of the bar's plush stools enjoy classic dishes such as crisp tacos, hearty burritos, and sizzling fajitas.
        </p>
        <p>
            Cool sips of a margarita, some sangria, or a draft or bottled beer hydrate throats parched from proclaiming the true meaning of the framed photos and art peppering The Border's vibrant walls. When the weather isn't too frightful, guests can enjoy their comestibles outdoors on the fully shaded patio or in a partially shaded area enclosed by mural-decorated walls.
        </p>
        <p>
            We are located just minutes from University of West Georgia in Carrollton, Ga. Come on by, bring your friends and enjoy the best margaritas and most flavorful food in the coolest atmosphere.
        </p>
    </div>
</div>