@{
}
<h1>Specials</h1>
<div class="row">
    <div class="col">
        <div class="col">
            <div class="card w-100 m-2">
                <img src="~/images/special1.jpg" class="card-img-top rounded p-1">
                <div class="card-body" style="background-color: white;">
                    <h5 class="card-title">Family Mondays!</h5>
                    <p class="card-text">Kids eat FREE!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col">
            <div class="card w-100 m-2">
                <img src="~/images/special2.png" class="card-img-top rounded p-1">
                <div class="card-body" style="background-color: white;">
                    <h5 class="card-title" style="color: red">Taco Tuesdays!</h5>
                    <p class="card-text">$1.25 Tacos all day on Tuesdays</p>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col">
        <div class="card w-100 m-2">
            <img src="~/images/special3.jpg" class="card-img-top rounded p-1">
            <div class="card-body" style="background-color: white;">
                <h5 class="card-title" style="color: red">College Nights!</h5>
                <p class="card-text">Every Thursdays get 20% OFF with student or faculty ID</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col">
            <div class="card w-100 m-2">
                <img src="~/images/special4.png" class="card-img-top rounded p-1">
                <div class="card-body" style="background-color: white;">
                    <h5 class="card-title" style="color: red">Fajita Sundays!</h5>
                    <p class="card-text">Every Sunday enjoy our regular size fajitas for $7.99.</p>
                </div>
            </div>
        </div>
    </div>
</div>