@model FoodItem
@{

}

<h1>@ViewBag.Action</h1>
<div class="container">
    <form class="form-group" asp-action="AddEditFood" method="post">



        <label>Name: </label>
        <input class="form-control" asp-for="Name" />

        <label>Description: </label>
        <input class="form-control" asp-for="Description" />

        <label>Price: </label>
        <input class="form-control" asp-for="Price" />

        <label>Image Base 64 Value: </label>
        <input class="form-control" asp-for="ImageName" />

        
        
        <button type="submit" class="btn btn-primary m-1">@ViewBag.Action</button>

        @if (ViewBag.Action == "Edit")
        {
            <input type="hidden" asp-for="Id" />
            <a class="btn btn-primary" asp-action="RemoveFood" asp-route-id="@Model.Id">Remove</a>
        }

        <a class="btn btn-primary" asp-action="FoodList">Cancel</a>
    </form>
</div>