@model OrderViewModel
@{
}
<div class="container-fluid">
    <a class="btn btn-primary" asp-action="OrderList">Back</a>
    <table class="table table-borderless">
        <thead>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
        </th>
        </thead>
        <tbody>
        @foreach (FoodOrderItem item in Model.Items)
        {
            <tr>
                <td>
                    @item.FoodItem.Name
                </td>
                <td>
                    @item.TotalPrice
                </td>
                <td>
                    @item.Quantity
                </td>
            </tr>
        }
        </tbody>

    </table>

</div>